h1 {
  color: violet;
  text-align: center;
}
#body {
  height: 950px;
  width: 720px;
  background-color: black;
  display: block;
  margin: 0 auto;
}



div {
  color: white;
  font-size: 100px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 140px;
  background-color: #313030;
  margin: 5px;
}

.specialSymbols {
  color: green;
}

#clear {
  color: red;
}

#equal {
  background-color: green;
  color: white;
}

